.tabs {
    background: #fff;
    height: auto;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab_btn {
    display: inline-block;
    float: none;
    position: relative;
    width: auto;
    height: 40px;
    margin-right: 22px;
    font-size: 18px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.56);
    text-align: left;
    cursor: pointer;
}

.tab_btnRed {
    display: inline-block;
    float: none;
    position: relative;
    width: auto;
    height: 40px;
    margin-right: 22px;
    font-size: 18px;
    line-height: normal;
    color: red;
    text-align: left;
    cursor: pointer;
    border-bottom: 2px solid red;
}
