header .gnb {
    display: flex;
    justify-content: flex-end;
    padding: 12px 31px;
    position: relative;
    margin: 0 auto;
}
/* gnb 로고 (여기어때)*/
.gnb-logo {
    margin-right: auto;
}
.gnb-logo a {
    font-family: 'yg-jalnan';
    color: #fff;
    font-size: 1.5rem;
}

/* gnb 검색란 */
.gnb .btn-srch {
    position: absolute;
    right: 396px;
    top: 16px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}
.gnb .btn-srch.opened {
    right: 797px;
    cursor: pointer;
}
.gnb .btn-srch-icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}
.btn-cancel {
    margin-top: -2px;
}
.btn-cancel-icon {
    fill: #fff;
}

/* gnb opened - 검색란 */
.srch-bar {
    display: flex;
    position: absolute;
    right: 31px;
    width: 725px;
    height: 21px;
    background: none;
    gap: 10px;
    top: 18px;
    transition: 1s;
}
.srch-bar-wrap {
    position: relative;
    background: none;
    flex-grow: 1;
}
.srch-bar-wrap input {
    width: 100%;
    height: 21px;
    margin: 0;
    background: none;
    font-size: 18px;
    color: #fff;
}
.srch-bar-wrap .btn-srch {
    position: absolute;
    left: -40px;
    right: auto;
    top: -2px;
}
.srch-bar-wrap input::placeholder {
    color: #ffffffcc;
    font-size: 18px;
}

/* gnb 카테고리 */
.gnb-cata {
    display: flex;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    gap: 2rem;
    transition: 0.3s;
}
.gnb-cata-link:not(a) {
    cursor: default;
}

.gnb-cata-sub {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 32px;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    font-size: 16px;
    width: 184px;
    top: 30px;
    left: -65px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.gnb-cata li:hover .gnb-cata-sub {
    display: flex;
    opacity: 1;
    transition: 0.3s;
}

/* 스크롤시 변경되는 Header 내 요소 스타일 */
.scroll .btn-cancel-icon {
    fill: var(--black);
}
.scroll .gnb .btn-srch-icon {
    fill: var(--black);
}

.scroll .srch-bar-wrap input {
    color: var(--black);
}
.scroll .srch-bar-wrap input::placeholder {
    color: #a1a1a1;
}

/* 반응형 */
@media (min-width: 1024px) {
    .gnb {
        width: 1024px;
    }
    .srch-bar-wrap .btn-srch {
        display: none;
    }
}
