.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.title_logo {
    text-align: center;
    margin-bottom: 16px;
}
.logo {
    a {
        text-decoration: none;
        color: #f7323f;
        font-size: 24px;
        font-family: 'best_choice';
    }
}

.snsBtn_box {
    display: flex;
    flex-direction: column;
    .snsBtn {
        padding: 0px 91px;
        height: 56px;
        border-radius: 5px;
        margin-bottom: 8px;
        font-size: 16px;
        border: none;
        color: white;
        :hover {
            cursor: pointer;
        }
    }
}

.or_box {
    position: relative;
}

.space_or {
    height: 56px;
    margin-bottom: 8px;
    box-sizing: border-box;
    margin: 0px 0px 8px 0px;

    span {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 10;
        background: #fff;
        color: rgba(0, 0, 0, 0.38);
        text-align: center;
        width: 60px;
        height: 56px;
        margin: 0 0 0 -25px;
        justify-content: center;
        align-items: center;
        display: flex;

        font-size: 16px;
        line-height: 40px;
    }
}

.space_or::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
}

.login_input {
    width: 100%;
    padding: 0px 16px 0px 46px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 48px;
    input {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        border: none;
        font-size: 15px;
        outline: none;
    }
}

.login_btn {
    margin-top: 16px;
    margin-bottom: 8px;

    button {
        background-color: rgb(255, 0, 85);
        font-size: 16px;
        color: white;
        border: none;
    }
}

.join_box {
    width: 50%;
    text-align: center;
    margin: auto;

    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    ::after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        width: 1px;
        height: 16px;
        background: rgba(0, 0, 0, 0.08);
    }
}

.footer_box {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .form_box {
        width: 100%;
    }
    .background {
        padding: 24px;
        align-items: flex-start;
    }
}
