.btn {
    &Default {
        height: 40px;
        width: 100%;
        border: 1px solid rgb(242, 7, 76);
        background-color: rgb(242, 7, 76);
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        &.disable {
            border: 1px solid rgb(235, 235, 235) !important;
            background: rgb(235, 235, 235) !important;
            color: rgba(0, 0, 0, 0.56);
            font-weight: bold;
        }
        &.sub {
            background: #fff;
            color: rgb(242, 7, 76);
        }
    }
}
