.phone_input:focus {
    outline: none;
}
.email_input:focus {
    outline: none;
}
.info_wrap {
    display: block;
    background-color: #fff;
    display: block;
}

@media (min-width: 300px) {
    .info_wrap {
        margin-bottom: 0;
        padding: 39px 0 46px 0;
    }
}

@media (min-width: 300px) {
    .inp_wrap {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding: 8px 14px 8px 16px;
    }
}
.inp_wrap {
    position: relative;
    height: 48px;
    border-radius: 4px;
}

.phone_input {
    margin-top: 5px;
    font-size: 18px;
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
}

.email_input {
    margin-top: 5px;
    font-size: 18px;
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
}
.phone_block {
    position: relative;
}

.email_block {
    position: relative;
    margin-top: 45px;
}

.info_wrap select {
    width: 100%;
    display: block;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.56);
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    height: 48px;
    margin-bottom: 46px;
    background-color: yellow;
    background: rgb(250, 250, 250)
        url(//image.goodchoice.kr/images/web_v3/ico_arr_down_4.png) right 10px
        top 50% no-repeat;
    background-size: 18px auto;
    cursor: pointer;
    appearance: none;
}
